<!doctype html>

<head>
    <title>Test</title> 
    <meta charset=utf-8>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
        <!--<h1>My Website</h1>
        <form action="/my-link/" >
            <input type="submit" value="Click me" />
        </form>
        
        <button> <a href="/my-link/">Click me</a></button>

        <form action="/geto/" method="post">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="fname" placeholder="firstname">
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lname" placeholder="lastname">
            <button type="submit">Login</button>
        </form>-->

        <div class="box">
            <form name="search" action="/geto/" method="post">
                <input type="text" class="input" id="search_text" name="txt" onmouseout="this.value = ''; this.blur();">
                <!--<button type="submit">submit</button>-->
            </form>
            <i class="fa fa-search"></i>
        </div>

    </body>